In [26]:
'''
GDACS ID WF 1020968
Countries Australia
Event summary This forest fire is expected to have a low humanitarian impact based on the magnitude and the affected population and their vulnerability.
GDACS ID	WF 1020968
Countries:	Australia
Start Date - Last detection*:	09 Aug 2024 - 14 Aug 2024
Duration (days):	5
People affected:	0 in the burned area
Burned area:	10556 ha
'''

'\nGDACS ID WF 1020968\nCountries Australia\nEvent summary This forest fire is expected to have a low humanitarian impact based on the magnitude and the affected population and their vulnerability.\nGDACS ID\tWF 1020968\nCountries:\tAustralia\nStart Date - Last detection*:\t09 Aug 2024 - 14 Aug 2024\nDuration (days):\t5\nPeople affected:\t0 in the burned area\nBurned area:\t10556 ha\n'

In [27]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

In [28]:
#  Dataframes
# Main table
table_0_headers = ['Event_id','Episode','Event_type','Impact_url']
table_1_headers = ["Event_id","Episode","Countries","Start_date_last_detected","Duration","People_affected","Burned_area","Event_summary"]
table_2_headers = ['Event_id','Episode','ID','Alert_Color','GDACS_Score','Population_Affected','Burned_Area','Last_Update','GWIS']
table_3_headers = ['Event_id','Episode','Radius','Population']
table_4_headers = ['Event_id','Episode','Region_province','Country','Population']
table_5_headers = ['Event_id','Episode','Name','Region_Province','Country','City_class','Population','Distance']
table_6_headers = ['Event_id','Episode','Name','IATA_Code','Elevation_in_m','Usage','Runway_type','IFR','Runway_Length_in_ft','Distance']
table_7_headers = ['Event_id','Episode','Name','LOCODE','Country','Distance']
table_8_headers = ['Event_id','Episode','Reservoir','Dam_Name','River','Year','Distance']

In [29]:

# Set up Chrome options
chrome_options = Options()
chrome_options.add_argument("--headless")
chrome_options.add_argument("--no-sandbox")

# Initialize the WebDriver
driver = webdriver.Chrome(options=chrome_options)
html_file = "file:///C:/Users/91788/OneDrive/Desktop/1004452_10_Wildfires_WF.html"
# https://www.gdacs.org/Wildfires/report.aspx?eventtype=WF&eventid=1004452&episodeid=10
# "file:///F:/Web Scraping/latest_htmls/Wildfires/1021646_9_Wildfires_WF.html"
# "file:///F:/Web Scraping/htmls/Wildfires/1.html"
# "https://www.gdacs.org/Wildfires/report.aspx?eventtype=WF&eventid=1019635&episodeid=2"
# Open the URL
# file_name = html_file.split('_')
# event_id = file_name[1].split('/')[2]
# event_type = file_name[1].split('/')[1]
# episode = file_name[2]
# print(file_name,event_id,event_type,episode)
driver.get(html_file)

event_id = '1021461'
event_type = 'wildfires'
episode = '1'

In [30]:
# Table 1
# Fetch the event summary section
event_summary_element = driver.find_element(By.XPATH, '//*[@class="p_summary"][1]')
event_summary_text = event_summary_element.text

table_xpath = '//*[@id="alert_summary_left"]/table/tbody'  # Adjust XPath as needed
table = driver.find_element(By.XPATH, table_xpath)
# Fetch table rows using XPath
rows_xpath = './/tr'  # XPath to locate rows within the table
rows = table.find_elements(By.XPATH, rows_xpath)
# Extract data from each row and column
table_data = []
for row in rows:
    columns_xpath = './/td'  # XPath to locate columns within each row
    columns = row.find_elements(By.XPATH, columns_xpath)
    row_data = [column.text for column in columns]
    if len(row_data) <1:
        continue
    else:
        table_data.append(row_data)

table_1_df = [
    event_id,
    episode,
    *[table_data[i][1] for i in range(1, 6)],
    event_summary_text
]
print(table_1_df)

['1021461', '1', 'Republic of Korea', '04 Mar 2022 - 12 Mar 2022', '8', '1580 in the burned area', '19748 ha', 'This forest fire is expected to have a low humanitarian impact based on the magnitude and the affected population and their vulnerability.']

In [31]:
# table 2
# Locate the Impact Timeline
table_xpath = '//*[@id="ctl00_CPH_GridViewEpisodes"]/tbody'  # Adjust XPath as needed
table = driver.find_element(By.XPATH, table_xpath)
# Fetch table rows using XPath
rows_xpath = './/tr'  # XPath to locate rows within the table
rows = table.find_elements(By.XPATH, rows_xpath)
# Extract data from each row and column
table_data = []
for row in rows:
    columns_xpath = './/td'  # XPath to locate columns within each row
    columns = row.find_elements(By.XPATH, columns_xpath)
    row_data = [column.text for column in columns]
    if len(row_data) <1:
        continue
    else:
        table_data.append(row_data)

table_2_df = []
for i in range(len(table_data)):
    row = [
        event_id,
        episode,
        *table_data[i][:7] 
    ]
    table_2_df.append(row)

for row in table_2_df:
    print(row)

['1021461', '1', '1', '', '0.5', '1044', '7992', '05 Mar 2022 04:01', 'GWIS']
['1021461', '1', '2', '', '0.5', '1044', '8053', '05 Mar 2022 11:37', 'GWIS']
['1021461', '1', '3', '', '0.5', '1539', '12682', '06 Mar 2022 04:01', 'GWIS']
['1021461', '1', '4', '', '0.5', '1570', '15222', '07 Mar 2022 04:01', 'GWIS']
['1021461', '1', '5', '', '0.5', '1580', '17363', '08 Mar 2022 04:01', 'GWIS']
['1021461', '1', '6', '', '0.5', '1570', '18099', '09 Mar 2022 04:01', 'GWIS']
['1021461', '1', '7', '', '0.5', '1580', '18435', '10 Mar 2022 04:00', 'GWIS']
['1021461', '1', '8', '', '0.5', '1580', '19387', '11 Mar 2022 04:00', 'GWIS']
['1021461', '1', '9', '', '0.5', '1633', '19728', '12 Mar 2022 04:00', 'GWIS']
['1021461', '1', '10', '', '0.5', '1580', '19748', '13 Mar 2022 04:00', 'GWIS']

In [32]:
# Locate the Impact Timeline
table_xpath = '//*[@id="graph_eq"]/table/tbody/tr/td/table/tbody'  # Adjust XPath as needed
table = driver.find_element(By.XPATH, table_xpath)
# Fetch table rows using XPath
rows_xpath = './/tr'  # XPath to locate rows within the table
rows = table.find_elements(By.XPATH, rows_xpath)
# Extract data from each row and column
table_data = []
for row in rows:
    columns_xpath = './/th | .//td'  # XPath to locate columns within each row
    columns = row.find_elements(By.XPATH, columns_xpath)
    row_data = [column.text for column in columns]
    if len(row_data) <1:
        continue
    else:
        table_data.append(row_data)

    
table_3_df = []
for i in range(len(table_data)):
    row = [
        event_id,
        episode,
        *table_data[i][:2] 
    ]
    table_3_df.append(row)

for row in table_3_df:
    print(row)

['1021461', '1', 'Radius', 'Population']
['1021461', '1', '10 km', '32000 people']
['1021461', '1', '5 km', '27000 people']
['1021461', '1', '2 km', '20000 people']
['1021461', '1', '1 km', '11000 people']
['1021461', '1', 'Burned Area', '1600 people']

In [33]:
# Table 4
# Locate the Affected Provinces
table_xpath = '//*[@id="provinces"]/table/tbody'  # Adjust XPath as needed
table = driver.find_element(By.XPATH, table_xpath)
# Fetch table rows using XPath
rows_xpath = './/tr'  # XPath to locate rows within the table
rows = table.find_elements(By.XPATH, rows_xpath)
# Extract data from each row and column
table_data = []
for row in rows:
    columns_xpath = './/td'  # XPath to locate columns within each row
    columns = row.find_elements(By.XPATH, columns_xpath)
    row_data = [column.text for column in columns]
    if len(row_data) <1:
        continue
    else:
        table_data.append(row_data)

table_4_df = []
    
for i in range(len(table_data)):
    row = [
        event_id,
        episode,
        *table_data[i][:3] 
    ]
    table_4_df.append(row)

for row in table_4_df:
    print(row)

['1021461', '1', 'Kyongsang-bukto', 'Republic of Korea', '2.9 million people']
['1021461', '1', 'Kangwon-do', 'Republic of Korea', '1.6 million people']

In [34]:
# wait = WebDriverWait(driver, 10)
# btn = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="cookie-consent-banner"]/div/div/div[2]/a[1]')))
# btn.click()
# scroll_script = "window.scrollTo(0, document.body.scrollHeight * 0.7);"
# driver.execute_script(scroll_script) 
# time.sleep(10)
# btn = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="airports"]/div/div[1]')))
# btn.click()
# btn.click()

In [35]:
# Locate the Affected populated places
table_xpath = '//*[@id="cities"]/table/tbody'  # Adjust XPath as needed
table = driver.find_element(By.XPATH, table_xpath)
# Fetch table rows using XPath
rows_xpath = './/tr'  # XPath to locate rows within the table
rows = table.find_elements(By.XPATH, rows_xpath)
# Extract data from each row and column
table_data = []
for row in rows:
    columns_xpath = './/td'  # XPath to locate columns within each row
    columns = row.find_elements(By.XPATH, columns_xpath)
    row_data = [column.text.strip() for column in columns]
    # row_data = [column.text for column in columns]
    if len(row_data) <1:
        continue
    else:
        table_data.append(row_data)
    
table_5_df = []
    
for i in range(len(table_data)):
    row = [
        event_id,
        episode,
        *table_data[i][:6] 
    ]
    table_5_df.append(row)

for row in table_5_df:
    print(row)

['1021461', '1', 'Yeongweol', 'Kang-Won-Do', 'Republic of Korea', 'City', '26000 people', '74 km']
['1021461', '1', 'Andong', 'Kyongsangbuk-Do', 'Republic of Korea', 'City', '130000 people', '75 km']
['1021461', '1', 'Gangneung', 'Kang-Won-Do', 'Republic of Korea', 'City', '-', '85 km']
['1021461', '1', 'Yecheon', 'Kyongsangbuk-Do', 'Republic of Korea', 'City', '-', '89 km']

In [36]:
# Table 6
# Locate the airports
table_xpath = '//*[@id="airports"]/table/tbody'  # Adjust XPath as needed
table = driver.find_element(By.XPATH, table_xpath)
# Fetch table rows using XPath
rows_xpath = './/tr'  # XPath to locate rows within the table
rows = table.find_elements(By.XPATH, rows_xpath)
# Extract data from each row and column
table_data = []
for row in rows:
    columns_xpath = './/td'  # XPath to locate columns within each row
    columns = row.find_elements(By.XPATH, columns_xpath)
    row_data = [column.text.strip() for column in columns]
    # row_data = [column.text for column in columns]
    if len(row_data) <1:
        continue
    else:
        table_data.append(row_data)
    
table_6_df = []
    
for i in range(len(table_data)):
    row = [
        event_id,
        episode,
        *table_data[i][:8] 
    ]
    table_6_df.append(row)

for row in table_6_df:
    print(row)

['1021461', '1', 'R 430', '', '2', '', '', '', '0', '39 km']
['1021461', '1', 'Samchok', 'SUK', 'unknown', '', '', '', '0', '46 km']
['1021461', '1', 'Gangneung', 'KAG', '11', 'Mil.', 'Paved', 'Yes', '8900', '83 km']
['1021461', '1', 'R 418', '', '283', '', '', '', '0', '87 km']
['1021461', '1', 'R 417', '', '525', '', '', '', '0', '92 km']

In [37]:
# Table 7
# Locate the ports
try:
    table_xpath = '//*[@id="ports"]/table/tbody'  # Adjust XPath as needed
    table = driver.find_element(By.XPATH, table_xpath)
    # Fetch table rows using XPath
    rows_xpath = './/tr'  # XPath to locate rows within the table
    rows = table.find_elements(By.XPATH, rows_xpath)
    # Extract data from each row and column
    table_data = []
    for row in rows:
        columns_xpath = './/td'  # XPath to locate columns within each row
        columns = row.find_elements(By.XPATH, columns_xpath)
        row_data = [column.text.strip() for column in columns]
        # row_data = [column.text for column in columns]
        if len(row_data) <1:
            continue
        else:
            table_data.append(row_data)
        
    table_7_df = []
        
    for i in range(len(table_data)):
        row = [
            event_id,
            episode,
            *table_data[i][:4] 
        ]
        table_7_df.append(row)

    for row in table_7_df:
        print(row)
        
except NoSuchElementException:
    print(f"Table with the provided XPath '{table_xpath}' not found.")

['1021461', '1', 'Ulchin', '', 'South Korea', '14 km']
['1021461', '1', 'Tonghae', 'KRTGH', 'South Korea', '50 km']
['1021461', '1', 'Mukho', 'KRMUK', 'South Korea', '56 km']

In [38]:
# Table 8
# Locate the dams
try:
    table_xpath = '//*[@id="dams"]/table/tbody'  # Adjust XPath as needed
    table = driver.find_element(By.XPATH, table_xpath)
    # Fetch table rows using XPath
    rows_xpath = './/tr'  # XPath to locate rows within the table
    rows = table.find_elements(By.XPATH, rows_xpath)
    # Extract data from each row and column
    table_data = []
    for row in rows:
        columns_xpath = './/td'  # XPath to locate columns within each row
        columns = row.find_elements(By.XPATH, columns_xpath)
        row_data = [column.text.strip() for column in columns]
        # row_data = [column.text for column in columns]
        if len(row_data) <1:
            continue
        else:
            table_data.append(row_data)
        
    table_8_df = []
        
    for i in range(len(table_data)):
        row = [
            event_id,
            episode,
            *table_data[i][:5] 
        ]
        table_8_df.append(row)

    for row in table_8_df:
        print(row)
        
except NoSuchElementException:
    print(f"Table with the provided XPath '{table_xpath}' not found.")

['1021461', '1', '', 'Imha', 'Panbyon', '1993', '69 km']
['1021461', '1', '', 'An Dong', 'Nakdong', '1977', '71 km']
['1021461', '1', '', 'Toam', 'Song', 'n/a', '80 km']

In [39]:
# Table 9
# Locate the nuclear plants
try:
    table_xpath = '//*[@id="nuclear"]/table/tbody'  # Adjust XPath as needed
    table = driver.find_element(By.XPATH, table_xpath)
    # Fetch table rows using XPath
    rows_xpath = './/tr'  # XPath to locate rows within the table
    rows = table.find_elements(By.XPATH, rows_xpath)
    # Extract data from each row and column
    table_data = []
    for row in rows:
        columns_xpath = './/td'  # XPath to locate columns within each row
        columns = row.find_elements(By.XPATH, columns_xpath)
        row_data = [column.text.strip() for column in columns]
        # row_data = [column.text for column in columns]
        if len(row_data) <1:
            continue
        else:
            table_data.append(row_data)
        
    table_8_df = []
        
    for i in range(len(table_data)):
        row = [
            event_id,
            episode,
            *table_data[i][:5] 
        ]
        table_8_df.append(row)

    for row in table_8_df:
        print(row)
        
except NoSuchElementException:
    print(f"Table with the provided XPath '{table_xpath}' not found.")

['1021461', '1', 'ULCHIN', 'REPUBLIC OF KOREA', '6', '8 km']

In [40]:

# lst = []
# lst2= []
# for i in range(2,len(rows)+1):
#     lst2.clear()
#     for j in range(1,7):
#         xpath = f'//*[@id="cities"]/table/tbody/tr[{i}]/td[{j}]'
#         table=driver.find_elements(By.XPATH, xpath)
#         for elem in table:
#             print(elem.text)
#         # f'tr[{i}]//td[{j}]'
#     # lst.append[lst2]

In [41]:

# main_table_elem = driver.find_element(By.XPATH, '//*[@class = "summary"]')
# # Locate the table element using XPath
# table_xpath = '//table'  # Adjust XPath as needed
# table = driver.find_element(By.XPATH, table_xpath)

# # Fetch table rows using XPath
# rows_xpath = './/tr'  # XPath to locate rows within the table
# rows = main_table_elem.find_elements(By.XPATH, rows_xpath)

# # Extract data from each row and column
# table_data = {}
# for row in rows:
#     columns_xpath = './/td'  # XPath to locate columns within each row
#     columns = row.find_elements(By.XPATH, columns_xpath)
#     row_data = [column.text for column in columns]
#     table_data.append(row_data)

# # Print table data
# for row in table_data:
#     print(row)

In [42]:

# Close the WebDriver
driver.quit()